  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    max-height:350px;
    min-height: 350px;
}

h3, p {
    color: black;
    font-family: 'Asap', sans-serif;
    font-family: 'Play', sans-serif;
}

h1 {
    font-size: xx-large;
    /* color: white; */
    font-family: 'Play', sans-serif;
}

/* #nameBadge {
    background: black;
} */

.carousel-caption {
    background: white;
    right: 30%;
    left: 30%;
}

#mainNav {
    background-image: url("../images/doodles.png")
}




/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}